/* You can add global styles to this file, and also import other style files */
body{
  padding: 0;
  margin: 0;
}



.window { z-index:20; }
.jtk-connector { z-index:4; }
.jtk-endpoint { z-index:5; }
.jtk-overlay { z-index:6; }

